.main1{
    text-align: center;
    font-size: 50pt;
}
.menu{
    text-align: center;
    font-size: 20pt;
}
.D1-2{
    display: inline-block;
    width: 25%;
    margin-left: 1in;
}
.D1-1{
    display: inline-block;
    width: 30%;
    margin-right: 1in;
}
.D1-3{
    display: inline-block;
    width: 55%;
    margin-left: 2in;
}
.B1-1{
    display: inline-block;
    width: 25%;
    margin-left: 1in;
}
.B1-2{
    display: inline-block;
    width: 30%;
    margin-right: 1in;
}
.B1-3{
    display: inline-block;
    width: 65%;
    margin-left: 2in;
}
.L1-1{
    display: inline-block;
    width: 20%;
    margin-left: 1in;
}
.L1-2{
    display: inline-block;
    width: 25%;
    margin-right: 1in;
}
.L1-3{
    display: inline-block;
    width: 50%;
    margin-left: 2in;
}